/mpd/*.db
/mpd/*.log
/mpd/*.pid
/mpd/mpdstate
/.local/share/*
!/.local/share/applications
/.config/*
!/.config/alacritty
!/.config/dunst
!/.config/gtk-3.0
!/.config/htop
!/.config/iterm2
!/.config/karabiner
!/.config/mimeapps.list
!/.config/ncmpcpp
!/.config/picom
!/.config/polybar
!/.config/qutebrowser
!/.config/rofi
!/.config/surfraw
!/.config/sway
!/.config/systemd
!/.config/waybar