/mpd/*.db
/mpd/*.log
/mpd/*.pid
/mpd/mpdstate
/.local/share/*
/.config/*
!/.config/aerospace
!/.config/alacritty
!/.config/brave-flags.conf
!/.config/fuzzel
!/.config/gtk-3.0
!/.config/gtk-4.0
!/.config/hypr
!/.config/kitty
!/.config/mimeapps.list
!/.config/nautilus
!/.config/ncmpcpp
!/.config/niri
!/.config/picom.conf
!/.config/polybar
!/.config/qt5ct
!/.config/qutebrowser
!/.config/rofi
!/.config/surfraw
!/.config/systemd
!/.config/waybar
!/.config/waypaper
!/.config/wlogout
!/.local/share/applications
/.xmonad/build-x86_64-linux/
/nohup.out
/.config/ncmpcpp/error.log
/.config/hypr/hosts/current.conf
/.local/state/
