configuration {
    font: "Cantarell 14";
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: "";
    drun-display-format: "{name}";
    disable-history: false;
    sidebar-mode: false;
    dpi: 200;
}
@theme "theme"